<ion-view title="" id="page3">
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/8AGMogRgSiiqYlg8YRMI_WhatsAppImage2018-10-05at12.14.28.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <p style="text-align: left;">
      <span style="color: #ff0000;">
        <strong>iNNOVA</strong>
      </span>es un espacio abierto que reúne a profesionales, estudiantes, emprendedores, líderes comunitarios y vecinos de La Rioja. Debatimos, difundimos ideas y generamos proyectos con una mirada práctica que nos sirvan para intervenir en una agenda pública
      y gubernamental de nuestra ciudad y provincia.&nbsp;Nuestros principios ponen el foco en la necesidad de una mirada estratégica de los asuntos públicos basada en la transparencia, la sustentabilidad y la capacidad de respuesta del Estado y sus intervenciones
      de política pública.&nbsp;</p>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="page3-list7">
      <center>
        <ion-item class="item-divider"> Contacto</ion-item>
      </center>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="page3-list3">
      <ion-item class="item-avatar dark" id="page3-list-item26" href-inappbrowser="https://api.whatsapp.com/send?phone=543804715177">
        <img src="img/oyFPXTlTRKIw4dj9rIdg_Wat.png">
        <h2dark>WhatsApp
          <p style="white-space:normal;">3804715177</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="page3-list-item9" href-inappbrowser="https://www.facebook.com/innovaLaR/">
        <img src="img/TjL2rM2JQoCcxLPWGlba_X4tIMx7cRbqGGI7Jwu0B_Facebook.png">
        <h2dark>Facebook
          <p style="white-space:normal;">@innovaLaR</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="page3-list-item11" href-inappbrowser="https://www.instagram.com/innovalarioja/">
        <img src="img/rEWDfuAWTfKIhgAFTqtu_Instagram.jpg">
        <h2dark>Intagram
          <p style="white-space:normal;">@innovalarioja</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="page3-list-item10" href-inappbrowser="https://twitter.com/innovalarioja">
        <img src="img/1xwBAzWTOKLZGhGVyntg_mbXHHfaQ36x4V0FeNNki_Twitter.png">
        <h2dark>Twitter
          <p style="white-space:normal;">@innovalarioja</p>
        </h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>